section#hero.s.s--dark.hero(data-stellar-background-ratio='0.5')
	.s__overlay
	.s__container.hero__container
		.s__row.hero__row

			.hero__content

				p.hero__descr.hero__descr--first Привет!
					br
					|Меня зовут Андрей. Я&nbsp;&dash;&nbsp;

				a.hero__link.smooth-scroll(href='#about')
					.hero__link-wrap
						h1 Frontend&dash;разработчик&nbsp;/
							br
							|Vue.js&nbsp;разработчик&nbsp;/
							br
							|Программист&nbsp;JavaScript

				p.hero__descr.hero__descr--last Cоздание высококачественных FrontEnd продуктов

				a.hero__mouse-link.smooth-scroll(href='#about')
					.hero__mouse-icon
						.hero__wheel
