section#about.s.about
	.s__container
		.s__row
			.s__header-wrap
				h2.s__header Обо мне
				.s__subheader Познакомимся ближе

			.s__content

				.s__block.about__block-1.animation_2
					.s__item
						h4.s__item-header Коротко о себе
						.s__text-block Занимаюсь созданием сайтов, преимущественно SPA, любой направленности.
						.s__text-block Использую современные методы разработки, актуальные технологии.
						.s__text-block Легко справляюсь с большими объемами информации. Быстро интегрируюсь в любую специфику.
						.s__text-block Высокая способность к самообучению, глубокий интерес в сфере разработки сайтов.

				//- .s__block.about__block-2.animation_1
				//- 	.about__img-wrap
				//- 		.about__img
				//- 			img(src='img/photo.png', alt='Plotnik WebMaster')

				.s__block.about__block-3.animation_3
					.s__item
						h4.s__item-header Доп. сведения
						.s__text-block
							| 30 лет. Русский.
						.s__text-block
							span.i Локация:
							| Кемеровская область
						.s__text-block
							span.i Языки:
							| Русский, технический английский
						.s__text-block
							span.i Тип занятости:
							| Удаленная работа
						.s__text-block
							a.smooth-scroll(href='#contacts') Контакты

