section#target.s.s--dark.target
	.s__overlay
	.s__container
		.s__row
			.s__header-wrap
				h2.s__header.s__header--orange Цель
				.s__subheader Цель резюме

			.s__content
				.s__block.animation_4
					.target__content
						.s__text-block.s__text-block--white Развиваться в Frontend-разработке. Углубляться в экосистему Vue.
						.s__text-block.s__text-block--white Изучать и работать с технологиями: Nuxt.js, Vue Storefront, Cordova, Electron.
						.s__text-block.s__text-block--white Создавать на них высоконагруженные PWA.
