section#target.s.s--dark.target
	.s__overlay
	.s__container
		.s__row
			.s__header-wrap
				h2.s__header.s__header--orange Цель
				.s__subheader Цель резюме

			.s__content
				.s__block.animation_4
					.target__content
						p.s__text-block.s__text-block--white Ищу точку входа, возможность для старта карьеры, в индустрии web-разработки.
						p.s__text-block.s__text-block--white Ориентирован на приобретение командного опыта, в процессе работы над большими, серьезными проектами.
						p.s__text-block.s__text-block--white Углубляюсь в экосистему Vue. Стремлюсь знать и работать с технологиями: Nuxt.js, Cordova, Electron.
