section#cert.s.s--dark.cert
	.s__overlay
	.s__container
		.s__row
			.s__header-wrap
				h2.s__header.s__header--orange Сертификаты
				.s__subheader Подтверждение знаний и навыков

			.s__content

				.s__block.cert__block-1
					.cert__img
						a.popup.popup-content(href='img/cert1.jpg')
							img.img-fluid(src="img/cert1.jpg", alt="SkillBox сертификат. Веб-верстка «Базовый уровень»")
					.cert__body
						h3.cert__header  Веб-верстка «Базовый уровень»
						p.s__text-block.s__text-block--white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, cupiditate, voluptas! Blanditiis cumque asperiores tempora.
						a.s__link(href="#") Посмотреть
				.s__block.cert__block-1
					.cert__img
						a.popup.popup-content(href='img/cert2.jpg')
							img.img-fluid(src="img/cert2.jpg", alt="SkillBox сертификат. Javascript «Базовый уровень»")
					.cert__body
						h3.cert__header  Javascript «Базовый уровень»
						p.s__text-block.s__text-block--white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, cupiditate, voluptas! Blanditiis cumque asperiores tempora.
						a.s__link(href="#") Посмотреть

				//- .s__block.cert__block-1
				//- 	.cert__img
				//- 		a.popup.popup-content(href='img/html.jpg')
				//- 			img.img-fluid(src="img/html.jpg", alt="HTML certificate")
				//- 	.cert__body
				//- 		h3.cert__header HTML
				//- 		p.s__text-block.s__text-block--white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, cupiditate, voluptas! Blanditiis cumque asperiores tempora.
				//- 		a.s__link(href="https://certification.mail.ru/certificates/5f6be1dc-9456-4f19-a5db-882e4688bf49/") Посмотреть

				//- .s__block.cert__block-2
				//- 	.cert__img
				//- 		a.popup(href='img/css.jpg')
				//- 			img.img-fluid(src="img/css.jpg", alt="CSS certificate")
				//- 	.cert__body
				//- 		h3.cert__header CSS
				//- 		p.s__text-block.s__text-block--white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, cupiditate, voluptas! Blanditiis cumque asperiores tempora.
				//- 		a.s__link(href="https://certification.mail.ru/certificates/a6167336-5a2b-4fe6-9022-1bc91b512ac6/") Посмотреть
