section#portfolio.s.s--dark.portfolio
	.s__overlay
	.s__container
		.s__row
			.s__header-wrap
				h2.s__header.s__header--orange Портфолио
				.s__subheader Мои работы

			.s__content

				.s__block.portfolio__block-1
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/CRM.jpg', alt='Домашняя бухгалтерия')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title agency
								.overlay__middle
									a.overlay__link(href="https://vue-new-pro.web.app/") Перейти
								.overlay__bottom
									span.overlay__date 08.04.2021
						.card__body
							.card__descr
								h4.card__title Домашняя бухгалтерия
								p.card__text CRM для учета доходов и расходов на vue.js. Регистрация и база данных на Firebase
							.card__btn-wrap
								a.s__link(href="https://vue-new-pro.web.app/") Перейти
								a.s__link(href="https://github.com/mrPlotnik/vue-new-pro") GitHub

				.s__block.portfolio__block-2
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/fitness.png', alt='Fitness')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title fitness
								.overlay__middle
									a.overlay__link(href="http://www.plotnik-web.ru/fitness/") Перейти
								.overlay__bottom
									span.overlay__date 13.04.2019
						.card__body
							.card__descr
								h4.card__title Спортивный клуб FITNESS
								p.card__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis explicabo, itaque praesentium iure ullam quo a rerum!
							.card__btn-wrap
								a.s__link(href="http://www.plotnik-web.ru/fitness/") Перейти
								a.s__link(href="https://github.com/mrPlotnik/Fitness") GitHub

				.s__block.portfolio__block-3
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/topolek.jpg', alt='Детский сад "Тополёк"')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title dstopolek
								.overlay__middle
									a.overlay__link(href="http://www.dstopolek.3dn.ru/") Перейти
								.overlay__bottom
									span.overlay__date 02.09.2011
						.card__body
							.card__descr
								h4.card__title МБОУ "Юргинская СОШ" Дошкольное структурное подразделение "Тополёк"
								p.card__text 3 курс, практика, проба пера.
							.card__btn-wrap
								a.s__link(href="http://dstopolek.3dn.ru/") Перейти

				.s__block.portfolio__block-3
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/modeling.jpg', alt='Курсы 3D моделирования')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title Курсы 3D моделирования
								.overlay__middle
									a.overlay__link(src="http://www.plotnik-web.ru/bootstrap-grid/") Перейти
								.overlay__bottom
									span.overlay__date 13.07.2022
						.card__body
							.card__descr
								h4.card__title Курсы 3D моделирования
								p.card__text Лендинг.
							.card__btn-wrap
								a.s__link(href="http://www.plotnik-web.ru/bootstrap-grid/") Перейти

				.s__block.portfolio__block-3
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/euclid.jpg', alt='Евклид. Проектные системы')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title euclid
								.overlay__middle
									a.overlay__link(href="http://www.plotnik-web.ru/euclid/") Перейти
								.overlay__bottom
									span.overlay__date 10.05.2022
						.card__body
							.card__descr
								h4.card__title Евклид. Проектные системы
								p.card__text Landing.
							.card__btn-wrap
								a.s__link(href="http://www.plotnik-web.ru/euclid/") Перейти

				.s__block.portfolio__block-3
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/blanchard.jpg', alt='Blanchard. Художественная галерея')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title blanchard
								.overlay__middle
									a.overlay__link(href="http://www.plotnik-web.ru/blanchard/") Перейти
								.overlay__bottom
									span.overlay__date 08.10.2022
						.card__body
							.card__descr
								h4.card__title Blanchard. Художественная галерея
								p.card__text Лендинг
							.card__btn-wrap
								a.s__link(href="http://www.plotnik-web.ru/blanchard/") Перейти


