section#portfolio.s.s--dark.portfolio
	.s__overlay
	.s__container
		.s__row
			.s__header-wrap
				h2.s__header.s__header--orange Портфолио
				.s__subheader Мои работы

			.s__content

				.s__block
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/technozavr.jpg', alt='Домашняя бухгалтерия')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title "Technozavr"
								.overlay__middle
									a.overlay__link(href="https://mrplotnik.github.io/vue-technozavr/") Сайт
								.overlay__bottom
									span.overlay__date 07.02.2023
						.card__body
							h4.card__title Интернет-магазин цифровой техники "Technozavr"
							.card__descr
								p.card__text Одностраничное приложение на Vue 2. REST API на Swagger.
								span Использовал:
									ul
										li Vue CLI,
										li Vuex,
										li Vue Router,
										li Vuelidate,
										li ESLint,
										li Mixins.
								p.card__text Специфику Vue 3 продолжаю осваивать.

							.card__btn-wrap
								a.s__link(href="https://mrplotnik.github.io/vue-technozavr/") Сайт
								a.s__link(href="https://github.com/mrPlotnik/vue-technozavr") GitHub

				.s__block
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/CRM.jpg', alt='Домашняя бухгалтерия')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title Домашняя бухгалтерия
								.overlay__middle
									a.overlay__link(href="https://vue-new-pro.web.app/") Сайт
								.overlay__bottom
									span.overlay__date 01.02.2021
						.card__body
							h4.card__title CRM-система учета доходов и расходов
							.card__descr
								p.card__text Одностраничное приложение на Vue 2. REST API на FireBase.
								span Использовал:
									ul
										li Vue CLI,
										li Vuex,
										li Vue Router,
										li Vuelidate,
										li Vuetify,
										li ESLint,
										li Babel,
										li Mixins.
										p.card__text Специфику Vue 3 продолжаю осваивать.

							.card__btn-wrap
								a.s__link(href="https://vue-new-pro.web.app/") Сайт
								a.s__link(href="https://github.com/mrPlotnik/vue-new-pro") GitHub

				.s__block
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/jsCRM.jpg', alt='Система управления контактными данными клиентов')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title CRM
								.overlay__middle
								.overlay__bottom
									span.overlay__date 05.01.2022
						.card__body
							.card__descr
								h4.card__title Управление контактами
								p.card__text CRM система для управления контактными данными клиентов. Чистый js.
							.card__btn-wrap

								a.s__link(href="https://github.com/mrPlotnik/jsCRM-customer-accounting-system") GitHub

				.s__block
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/blanchard.jpg', alt='Blanchard. Художественная галерея')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title blanchard
								.overlay__middle
									a.overlay__link(href="http://www.plotnik-web.ru/blanchard/") Сайт
								.overlay__bottom
									span.overlay__date 08.10.2022
						.card__body
							h4.card__title Blanchard. Художественная галерея
							.card__descr
								//- h5.descr__title Итоговый проект курса «Веб-верстка. Базовый уровень».
								p.card__text Сверстал по макету из Figma. Pixel Perfect. Валидно, адаптивно, с соблюдением семантики, с применением БЭМ, принципа DRY, в соответствии с кодстайлом.
								p.card__text Адаптировал под скринридеры.
								span Использовал библиотеки:
									ul
										li normalize,
										li bootstrap-grid,
										li accordion,
										li choises,
										li inputmask,
										li just-validate,
										li simplebar,
										li swiper,
										li tippy.
							.card__btn-wrap
								a.s__link(href="http://www.plotnik-web.ru/blanchard/") Сайт
								a.s__link(href="https://github.com/mrPlotnik/Blanchard") GitHub

				.s__block
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/euclid.jpg', alt='Евклид. Проектные системы')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title euclid
								.overlay__middle
									a.overlay__link(href="http://www.plotnik-web.ru/euclid/") Сайт
								.overlay__bottom
									span.overlay__date 10.05.2022
						.card__body
							.card__descr
								h4.card__title Евклид. Проектные системы
								p.card__text Проект на котором отрабатывались новые знания.
							.card__btn-wrap
								a.s__link(href="http://www.plotnik-web.ru/euclid/") Сайт
								a.s__link(href="https://github.com/mrPlotnik/Euclid") GitHub

				.s__block
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/modeling.jpg', alt='Курсы 3D моделирования')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title Курсы 3D моделирования
								.overlay__middle
									a.overlay__link(src="http://www.plotnik-web.ru/bootstrap-grid/") Сайт
								.overlay__bottom
									span.overlay__date 13.07.2022
						.card__body
							.card__descr
								h4.card__title Курсы 3D моделирования
								p.card__text Работа с библиотекой Bootstrap.
							.card__btn-wrap
								a.s__link(href="http://www.plotnik-web.ru/bootstrap-grid/") Сайт
								a.s__link(href="https://github.com/mrPlotnik/Bootstrap-grid") GitHub

				.s__block
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/fitness.png', alt='Fitness')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title fitness
								.overlay__middle
									a.overlay__link(href="http://www.plotnik-web.ru/fitness/") Сайт
								.overlay__bottom
									span.overlay__date 13.04.2019
						.card__body
							.card__descr
								h4.card__title Спортивный клуб FITNESS
								p.card__text Фриланс. Делал сайт на заказ для дипломного проекта выпускника ВУЗа.
							.card__btn-wrap
								a.s__link(href="http://www.plotnik-web.ru/fitness/") Сайт
								a.s__link(href="https://github.com/mrPlotnik/Fitness") GitHub

				.s__block
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/topolek.jpg', alt='Детский сад "Тополёк"')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title dstopolek
								.overlay__middle
									a.overlay__link(href="http://www.dstopolek.3dn.ru/") Сайт
								.overlay__bottom
									span.overlay__date 02.09.2011
						.card__body
							.card__descr
								h4.card__title МБОУ "Юргинская СОШ" Дошкольное структурное подразделение "Тополёк"
								p.card__text Практика на 3 курсе, мой первый полноценный сайт.
								p.card__text Разработал сайт гос.учреждения, которым организация до сих пор успешно пользуется. Получил премию и грамоту за лучший сайт среди всех ДОУ в области.
							.card__btn-wrap
								a.s__link(href="http://dstopolek.3dn.ru/") Сайт

