header(data-stellar-background-ratio="0.5")
	.container
		.row
			.col
				.logo-container
					.logo-knot
						img.img-fluid(src='img/logo_knot.svg', alt='Plotnik WebDeveloper')
					.logo-text
						img.img-fluid(src='img/logo_text.svg', alt='Plotnik WebDeveloper')
		.row.align-items-center
			.col
				p Сайт-портфолио
					br 
					|веб-разработчика
		.row.align-items-center
			.col.px-0
				a.scroll2id(href='#about')
					h1 Андрей Плотников
		.row.align-items-start
			.col
				p Web-разработчик / HTML-верстальщик
					br 
					|Программист JavaScript
		.row.align-items-center
			.col
				.mouse-icon
					.wheel
						.top_wrapper