section#about.bg_light
	h2 Обо мне
	.s_descr_wrap
		.s_descr Познакомимся ближе
	.container
		.row
			.col-12.col-md-4.order-1.animation_1
				.person
					a.popup(href='img/photo.jpg')
						img.img-fluid(src='img/photo.jpg', alt='Alt')
			.col-12.col-md-4.animation_2
				h3 Немного о себе
				p Доброго времени суток, меня зовут Андрей.
				p Занимаюсь созданием сайтов, преимущественно LP, любой направленности.
				p Использую современные методы разработки, актуальные технологии.
				p Легко справляюсь с большими объемами информации. Быстро интегрируюсь в любую специфику
			.col-12.col-md-4.order-1.animation_3
				h3 Доп. сведения
				p 
					.font-italic Дата рождения: 
					|4 августа 1992 года
				p 
					.i Location:
					| Русский, проживаю в Кемеровской области, город Юрга
				p 
					.i Языки:
					| Русский, технический английский
				a.scroll2id(href='#contacts') Контакты