section#hero.section.hero
	.section__container.hero__container
		.section__row.hero__row

			.hero__content

				p.hero__descr.hero__descr--1 Сайт-портфолио
					br
					|веб-разработчика

				.hero__link-wrap
					a.scroll2id(href='#about')
						h1 Андрей Плотников

				p.hero__descr
					|Frontend-разработчик&nbsp;/
					br
					|HTML&dash;верстальщик&nbsp;/
					br
					|Программист&nbsp;JavaScript

			.mouse-icon
				.wheel
					.top_wrapper
