section#hero.section.hero
	.hero__link-wrap
			a.scroll2id(href='#about')
				h1 Андрей Плотников
	.cont.hero__cont
		.row.hero__row
			p.hero__descr.hero__descr--1 Сайт-портфолио
				br
				|веб-разработчика

			p.hero__descr.hero__descr--2 Frontend-разработчик /
				br
				|HTML&#8209;верстальщик&nbsp;/ Программист&nbsp;JavaScript
			.mouse-icon
				.wheel
					.top_wrapper
