section#hero.s.hero(data-stellar-background-ratio='0.5')
	.s__container.hero__container
		.s__row.hero__row

			.hero__content

				p.hero__descr Сайт-портфолио
					br
					|веб-разработчика

				a.hero__link.smooth-scroll(href='#about')
					.hero__link-wrap
						h1 Андрей Плотников

				p.hero__descr
					|Frontend-разработчик&nbsp;/
					br
					|HTML&dash;верстальщик&nbsp;/
					|Программист&nbsp;JavaScript

			a.smooth-scroll(href='#about')
				.hero__mouse-icon
					.hero__wheel
