section#about.section.about
	.section__container
		.section__row
			.section__header-wrap
				h2.section__header Обо мне
				.section__subheader Познакомимся ближе

			.section__content

				.section__block.order-2.animation_1
					.about__img-wrap
						.about__img
							img(src='img/photo.jpg', alt='Plotnik WebMaster')

				.section__block.animation_2
					.section__item
						h4.section__item-header Немного о себе
						p.section__text-block Доброго времени суток, меня зовут Андрей.
						p.section__text-block Занимаюсь созданием сайтов, преимущественно LP, любой направленности.
						p.section__text-block Использую современные методы разработки, актуальные технологии.
						p.section__text-block Легко справляюсь с большими объемами информации. Быстро интегрируюсь в любую специфику

				.section__block.order-3.animation_3
					.section__item
						h4.section__item-header Доп. сведения
						p.section__text-block
							span.i Дата рождения:
							|4 августа 1992 года
						p.section__text-block
							span.i Location:
							| Русский, проживаю в Кемеровской области, город Юрга
						p.section__text-block
							span.i Языки:
							| Русский, технический английский
						a.scroll2id(href='#contacts') Контакты
