section#target.bg_dark
	h2 Цель
	.s_descr_wrap
		.s_descr Цель резюме
	.container
		.row
			.col-md-12.animation_4
				p Ищу точку входа, возможность для старта карьеры, в индустрии web-разработки.
				p Ориентирован на приобретение командного опыта, в процессе работы над большими, достойными проектами.