section#target.section.section--dark.target
	.section__container
		.section__row
			.section__header-wrap
				h2.section__header.section__header--orange Цель
				.section__subheader Цель резюме

			.section__content
				.section__block.animation_4
					.target__content
						p.section__text-block.section__text-block--white Ищу точку входа, возможность для старта карьеры, в индустрии web-разработки.
						p.section__text-block.section__text-block--white Ориентирован на приобретение командного опыта, в процессе работы над большими, достойными проектами.
