section#certificates.bg-dark
	h2 Сертификаты
	.s_descr_wrap
		.s_descr Подтверждение знаний и навыков
	.container.resume_container
		.row.no-gutters.animation_2.mb-5

			.col-12.col-md-6.py-3

				.col-12
					a.popup.popup-content(href='img/html.jpg')
						img.img-fluid(src="img/html.jpg", alt="HTML certificate")
				.col-12.py-2
					h3.mb-2 HTML 
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, cupiditate, voluptas! Blanditiis cumque asperiores tempora.
					a.btn(href="https://certification.mail.ru/certificates/5f6be1dc-9456-4f19-a5db-882e4688bf49/") Посмотреть
		
			.col-12.col-md-6.py-3
				
					.col-12
						a.popup(href='img/css.jpg')
							img.img-fluid(src="img/css.jpg", alt="CSS certificate")
					.col-12.py-2
						h3.mb-2 CSS 
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, cupiditate, voluptas! Blanditiis cumque asperiores tempora.
						a.btn(href="https://certification.mail.ru/certificates/a6167336-5a2b-4fe6-9022-1bc91b512ac6/") Посмотреть