section#certificates.bg-dark
	h2 Сертификаты
	.s_descr_wrap
		.s_descr Подтверждение знаний и навыков
	.container.resume_container
		.row
			.col-12
				h3 Сертивикаты от компании Mail.ru Group
		.row
			.col-6.left.animation_2
				a.popup.popup-content(href='img/html.jpg')
					img.img-fluid(src="img/html.jpg", alt="HTML certificate")
			.col-6.right.animation_3
				a.popup(href='img/css.jpg')
					img.img-fluid(src="img/css.jpg", alt="CSS certificate")