section#resume.s.resume
	.s__container
		.s__row
			.s__header-wrap
				h2.s__header Резюме
				.s__subheader Мои знания и образование

			.s__content

				.s__block.resume__block-1
					h3.resume__header Образование
					.resume__icon
						img(src='img/icons/notebook.svg', alt='notebook')
					.s__item.animation_2
						h4.s__item-header Среднее специальное
						p.s__text-block Юргинский техникум машиностроения и информационных технологий,
						p.s__text-block "Вычислительные машины комплексы системы и сети".
						p.s__text-block Квалификация – техник.
					.s__item.animation_2
						h4.s__item-header Самообразование
						p.s__text-block Курсы в интернете, видеокурсы,&nbsp;
							a.inline-link.smooth-scroll(href='#books') книги
							|, документация, форумы, статьи.
						p.s__text-block Созданием сайтов занимаюсь с 2011 года по настоящее время.

				.s__block.resume__block-2
					h3.resume__header Знания и навыки
					.resume__icon
						img(src='img/icons/lamp.svg', alt='lamp')
					.s__item.animation_3
						h4.s__item-header Знания в области Web
						p.s__text-block HTML5
						p.s__text-block PUG (Jade)
						p.s__text-block CSS3
						p.s__text-block SASS (SCSS)
						p.s__text-block JavaScript
						p.s__text-block Библиотека jQuery
						p.s__text-block Транспайлер Babel
						p.s__text-block ESLint
						p.s__text-block Vue.js
						p.s__text-block Адаптивная верстка под все устройства
						p.s__text-block Фреймворк Bootstrap
						p.s__text-block Контроль версий Git
					.s__item.animation_3
						h4.s__item-header Прочее
						p.s__text-block Adobe Photoshop (эксперт)
						p.s__text-block Sublime Text, Visual Studio Code
						p.s__text-block Сборка через GULP
