section#resume.section.resume
	.section__container
		.section__row
			.section__header-wrap
				h2.section__header Резюме
				.section__subheader Мои знания и образование


			__content

				.resume__first-block-wrap
					h3.resume__header.animated.bounce Образование
					.resume__icon
						img(src='img/icons/notebook.svg', alt='notebook')
					.section__item.animation_2
						h4.section__item-header Среднее специальное
						p.section__text-block Юргинский техникум машиностроения и информационных технологий,
						p.section__text-block "Вычислительные машины комплексы системы и сети".
						p.section__text-block Квалификация – техник.
					.section__item.animation_2
						h4.section__item-header Самообразование
						p.section__text-block Курсы в интернете, видеокурсы,&nbsp;
							a.scroll2id(href='#books') книги
							|, документация, форумы, статьи.
						p.section__text-block Созданием сайтов занимаюсь с 2011 года по настоящее время.

				.resume__second-block-wrap
					h3.resume__header.animated.bounce Знания и навыки
					.resume__icon
						img(src='img/icons/lamp.svg', alt='lamp')
					.section__item.animation_3
						h4.section__item-header Знания в области Web
						p.section__text-block HTML5
						p.section__text-block PUG (Jade)
						p.section__text-block CSS3
						p.section__text-block SASS (SCSS)
						p.section__text-block JavaScript
						p.section__text-block Библиотека jQuery
						p.section__text-block Транспайлер Babel
						p.section__text-block ESLint
						p.section__text-block Vue.js
						p.section__text-block Адаптивная верстка под все устройства
						p.section__text-block Фреймворк Bootstrap
						p.section__text-block Контроль версий Git
					.section__item.animation_3
						h4.section__item-header Прочее
						p.section__text-block Adobe Photoshop (эксперт)
						p.section__text-block Sublime Text, Visual Studio Code
						p.section__text-block Сборка через GULP
