section#books.bg_light
	h2 Книги
	.s_descr_wrap
		.s_descr Книги, оказавшие на меня влияние
	.container
		.row
			.col-md-12
				.animation_2
					p Кто-то сказал:
					blockquote Важно не то, что вы читали или не читали какую-то отдельную книгу. Гораздо полезнее понимание того, какое место этот том занимает среди других
					p Книги, которые мне помогли углубить знания в своем ремесле:
		.books_container
			.row
				.col-6.col-md-3.animation_2
					.books
						p С. Макконнелл
						img(src="img/books/1.jpg", alt="Совершенный код")
						p 896 с., 2017
				.col-6.col-md-3.animation_2
					.books
						p Д. Флэнаган
						img(src="img/books/2.jpg", alt="JavaScript Подробное руководство")
						p 992 с., 2008
				.col-6.col-md-3.animation_3
					.books
						p Д. С. Макфарланд
						img(src="img/books/3.jpg", alt="Большая книга CSS")
						p 608 с., 2016
				.col-6.col-md-3.animation_3
					.books
						p Э. Фримен
						img(src="img/books/4.jpg", alt="Паттерны программирования")
						p 656 с., 2013