section#cert.section.section--dark.cert
	.section__container
		.section__row
			.section__header-wrap
				h2.section__header.section__header--orange Сертификаты
				.section__subheader Подтверждение знаний и навыков

			.section__content

				.section__item
					.cert__img
						a.popup.popup-content(href='img/html.jpg')
							img.img-fluid(src="img/html.jpg", alt="HTML certificate")
					.cert__body
						h3.cert__header HTML
						p.section__text-block.section__text-block--white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, cupiditate, voluptas! Blanditiis cumque asperiores tempora.
						a.cert__link(href="https://certification.mail.ru/certificates/5f6be1dc-9456-4f19-a5db-882e4688bf49/") Посмотреть

				.section__item
					.cert__img
						a.popup(href='img/css.jpg')
							img.img-fluid(src="img/css.jpg", alt="CSS certificate")
					.cert__body
						h3.cert__header CSS
						p.section__text-block.section__text-block--white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, cupiditate, voluptas! Blanditiis cumque asperiores tempora.
						a.cert__link(href="https://certification.mail.ru/certificates/a6167336-5a2b-4fe6-9022-1bc91b512ac6/") Посмотреть
