section#portfolio.bg_dark
	h2 Портфолио
	.s_descr_wrap
		.s_descr Мои работы
	.container
		.row
			.col-12.col-sm-6.col-lg-4
				.card.animation_2.mb-3

					.hovereffect
						img.card-img-top(src='img/portfolio/agency.png', alt='agency')
						.overlay
							.container.top.p-0
								h2.card-title agency
							.container.middle
								.row.h-100.justify-content-center.align-items-center
									a.info(href="http://www.plotnik-web.ru/agency/") Перейти
							.container.bottom.p-0
								h2 25.07.2019

					.card-body.d-flex.flex-column
						h5.card-title Кадровое агенство
						p.card-text
							| Some quick example text to build on the card title and make up the bulk of the card's content.
						.row.align-items-end.flex-grow-1
							.col-12.d-flex.justify-content-between
								button.btn(type='button')
									a(href="http://www.plotnik-web.ru/agency/") Перейти
								button.btn(type='button')
									a(href="https://github.com/mrPlotnik/agency") GitHub

			.col-12.col-sm-6.col-lg-4
				.card.animation_2.mb-3

					.hovereffect
						img.card-img-top(src='img/portfolio/fitness.png', alt='fitness')
						.overlay
							.container.top.p-0
								h2 fitness
							.container.middle
								.row.h-100.justify-content-center.align-items-center
									a.info(href="http://www.plotnik-web.ru/fitness/") Перейти
							.container.bottom.p-0
								h2 13.04.2019

					.card-body.d-flex.flex-column
						h5.card-title Спортивный клуб FITNESS
						p.card-text
							| Во все времена красивое подтянутое тело являлось настоящим символом совершенства. Никто с первого взгляда не полюбит Ваш внутренний мир, с первого взгляда полюбят только Ваше тело...
						.row.align-items-end.flex-grow-1
							.col-12.d-flex.justify-content-between
								button.btn(type='button')
									a(href="http://www.plotnik-web.ru/fitness/") Перейти
								button.btn(type='button')
									a(href="https://github.com/mrPlotnik/Fitness") GitHub

			.col-12.col-sm-6.col-lg-4
				.card.animation_2.mb-3

					.hovereffect
						img.card-img-top(src='img/portfolio/topolek.jpg', alt='topolek')
						.overlay
							.container.top.p-0
								h2 dstopolek
							.container.middle
								.row.h-100.justify-content-center.align-items-center
									a.info(href="http://dstopolek.3dn.ru/") Перейти
							.container.bottom.p-0
								h2 02.09.2011

					.card-body.d-flex.flex-column
						h5.card-title МБОУ "Юргинская СОШ" Дошкольное структурное подразделение "Тополёк"
						p.card-text
							| 3 курс, практика, проба пера.
						.row.align-items-end.flex-grow-1
							.col-12.d-flex.justify-content-between
								button.btn(type='button')
									a(href="http://dstopolek.3dn.ru/") Перейти

			.col-12.col-sm-6.col-lg-4
				.card.animation_2.mb-3

					.hovereffect
						img.card-img-top(src='img/portfolio/webinar.jpg', alt='topolek')
						.overlay
							.container.top.p-0
								h2 webinar
							.container.middle
								.row.h-100.justify-content-center.align-items-center
									a.info(href="http://www.plotnik-web.ru/webinar") Перейти
							.container.bottom.p-0
								h2 30.03.2020

					.card-body.d-flex.flex-column
						h5.card-title Страница ожидания вебинара
						p.card-text
							|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repudiandae error culpa cum, adipisci tempore.
						.row.align-items-end.flex-grow-1
							.col-12.d-flex.justify-content-between
								button.btn(type='button')
									a(href="http://www.plotnik-web.ru/webinar") Перейти		
								button.btn(type='button')
									a(href="https://github.com/mrPlotnik/webinar") GitHub				