section#books.section.books
	.section__container
		.section__row
			.section__header-wrap
				h2.section__header.section__header--orange Книги
				.section__subheader Книги, оказавшие на меня влияние

			.section__content

				ul.books__list.list-reset
					li.books__item.animation_2
						p.books__author.section__text-block С. Макконнелл
						img(src="img/books/1.jpg", alt="Совершенный код")
						p.books__descr.section__text-block 896 с., 2017

					li.books__item.animation_2
						p.books__author.section__text-block Д. Флэнаган
						img(src="img/books/2.jpg", alt="JavaScript Подробное руководство")
						p.books__descr.section__text-block 992 с., 2008

					li.books__item.animation_3
						p.books__author.section__text-block Д. С. Макфарланд
						img(src="img/books/3.jpg", alt="Большая книга CSS")
						p.books__descr.section__text-block 608 с., 2016

					li.books__item.animation_3
						p.books__author.section__text-block Э. Фримен
						img(src="img/books/4.jpg", alt="Паттерны программирования")
						p.books__descr.section__text-block 656 с., 2013
