section#portfolio.section.section--dark.portfolio
	.section__container
		.section__row
			.section__header-wrap
				h2.section__header.section__header--orange Портфолио
				.section__subheader Мои работы

			.section__content

				.section__block
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/CRM.png', alt='Домашняя бухгалтерия')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title agency
								.overlay__middle
									a.overlay__link(href="https://vue-new-pro.web.app/") Перейти
								.overlay__bottom
									span.overlay__date 08.04.2021
						.card__body
							.card__descr
								h4.card__title Домашняя бухгалтерия
								p.card__text CRM для учета доходов и расходов на vue.js. Регистрация и база данных на Firebase
							.card__btn-wrap
								a.section__link(href="https://vue-new-pro.web.app/") Перейти
								a.section__link(href="https://github.com/mrPlotnik/vue-new-pro") GitHub

				.section__block
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/fitness.png', alt='fitness')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title fitness
								.overlay__middle
									a.overlay__link(href="http://www.plotnik-web.ru/fitness/") Перейти
								.overlay__bottom
									span.overlay__date 13.04.2019
						.card__body
							.card__descr
								h4.card__title Спортивный клуб FITNESS
								p.card__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis alias tenetur possimus explicabo, itaque praesentium iure ullam quo a rerum!
							.card__btn-wrap
								a.section__link(href="http://www.plotnik-web.ru/fitness/") Перейти
								a.section__link(href="https://github.com/mrPlotnik/Fitness") GitHub

				.section__block
					.card.animation_2
						.card__head
							img.card__img(src='img/portfolio/topolek.jpg', alt='topolek')
							.card__overlay.overlay
								.overlay__top
									h3.overlay__title dstopolek
								.overlay__middle
									a.overlay__link(href="http://www.dstopolek.3dn.ru/") Перейти
								.overlay__bottom
									span.overlay__date 02.09.2011
						.card__body
							.card__descr
								h4.card__title МБОУ "Юргинская СОШ" Дошкольное структурное подразделение "Тополёк"
								p.card__text 3 курс, практика, проба пера.
							.card__btn-wrap
								a.section__link(href="http://dstopolek.3dn.ru/") Перейти
