section#contacts.s.contacts
	.s__container
		.s__row
			.s__header-wrap
				h2.s__header.s__header--orange Контакты
				.s__subheader Связаться со мной

			.s__content

				.s__block.contacts__block-1
					.s__item
						.contacts__img
							img(src="img/icons/github.svg", alt="Telegram")
						span.contacts__title Telegram
						a(href='https://t.me/lev_ligr', target='_blank') lev_ligr
					.s__item
						.contacts__img
							img(src="img/icons/github.svg", alt="GitHub")
						span.contacts__title github
						a(href='https://github.com/mrPlotnik', target='_blank') github.com/mrPlotnik

				.s__block.contacts__block-2
					.s__item
						.contacts__img
							img(src="img/icons/email.svg", alt="E-mail")
						span.contacts__title Email
						a(href='mailto:plotnik1992@gmail.com') plotnik1992@gmail.com


