section#contacts.section.contacts
	.section__container
		.section__row
			.section__header-wrap
				h2.section__header.section__header--orange Контакты
				.section__subheader Связаться со мной

			.section__content

				.section__block

					.section__item
						.contacts__img
							img(src="img/icons/github.svg", alt="Telegram")
						span.contacts__title ВКонтакте
						a(href='https://t.me/lev_ligr', target='_blank') lev_ligr

					.section__item
						.contacts__img
							img(src="img/icons/github.svg", alt="GitHub")
						span.contacts__title github
						a(href='https://github.com/mrPlotnik', target='_blank') github.com/mrPlotnik

				.section__block

					.section__item
						.contacts__img
							img(src="img/icons/email.svg", alt="E-mail")
						span.contacts__title Email
						a(href='mailto:plotnik1992@gmail.com') plotnik1992@gmail.com


