section#about.bg_light
	.section_header
		h2 Обо мне
		.s_descr_wrap
			.s_descr Познакомимся ближе
	.section_content
		.container
			.row
				.col-12.col-md-4.order-1.animation_1
					.person
						a.popup(href='img/photo.png')
							img(src='img/photo.png', alt='Alt')
				.col-12.col-md-4.div_height.animation_2
					h3 Немного о себе
					p Доброго времени суток, меня зовут Андрей.
					p Занимаюсь созданием сайтов, преимущестенно LP, любой направленности.
					p Использую современные методы разработки, актуальные технологии.
				.col-12.col-md-4.order-1.animation_3
					h3 Доп. сведения
					p 
						.i День рождения: 
						|4 августа 1992 года
					p 
						.i Location:
						| Русский, проживаю в Кемеровской области, город Юрга
					p 
						.i Языки:
						| Русский, технический английский
					a.scroll2id(href='#contacts') Контакты
			.row
				.col-md-12.div_about.animation_4
					p
						| Стараюсь соответствовать современному положению дел в разработке web-проложений.
					p
						| Полный цикл, с нуля: макет, дизайн, верстка, программирование.
					p
						| Использую сборщик проектов, адаптивный дизайн, различные фреймворки. Благодаря кроссбраузерной верстке Ваш сайт будет отлично выглядеть на всех устройствах. Анимация, выработка контент-стратегии, производительность сайта, юзабилити, сценарии JS.