section#books.bg_light
	.section_header
		h2 Книги
		.s_descr_wrap
			.s_descr Книги, оказавшие на меня влияние
		.container
			.row
				.col-md-12
					.animation_2
						p Кто-то сказал:
						blockquote Важно не то, что вы читали или не читали какую-то отдельную книгу. Гораздо полезнее понимание того, какое место этот том занимает среди других
						p Книги, которые мне помогли углубить знания в своем ремесле:
			.books_container
				.row
					.col-6.col-md-3.animation_2
						.books
							p Стив Макконнелл
							img(src="img/books/1.jpg", alt="")
							p 896 с., 2017
					.col-6.col-md-3.animation_2
						.books
							p Дэвид Флэнаган
							img(src="img/books/2.jpg", alt="")
							p 992 с., 2008
					//- Optional: clear the XS cols if their content doesn't match in height
					//- .visible-xs.clearfix 
					.col-6.col-md-3.animation_3
						.books
							p Дэвид Сойер Макфарланд
							img(src="img/books/3.jpg", alt="")
							p 608 с., 2016							
					.col-6.col-md-3.animation_3
						.books
							p Элизабет Фримен
							img(src="img/books/4.jpg", alt="")
							p 656 с., 2013
			.row
				.col-md-12.dopInformation
					h3 Дополнительная информация
					ul
						li
							p Легко справляюсь с большими объемами информации
						li
							p Быстро интегрируюсь в любую специфику
					p Надеюсь, мой потенциал позволит вашей компании достичь еще больших успехов
					p С уважением...
			.row
				.col-md-12.div_about.animation_4
					p Полный цикл, с нуля: макет, дизайн, верстка, программирование.
						br
						| Анимация, производительность сайта, юзабилити, поведение.
					p Стараюсь соответствовать современному положению дел в разработке web-проложений.