section#contacts.bg_light
	h2 Контакты
	.s_descr_wrap
		.s_descr Связаться со мной
	.container
		.row
			.col-md-6.col-sm-6
				.contact_box
					.div-icon
						img(src="img/icons/location.svg", alt="Адрес")
					h3 Адрес:
					p Россия, Кемеровская обл., г. Юрга
				.contact_box
					.div-icon
						img(src="img/icons/vk.svg", alt="VK")
					h3 ВКонтакте:
					p
						a(href='https://vk.com/mr__pro', target='_blank') vk.com/mr__pro
				.contact_box
					.div-icon
						img(src="img/icons/github.svg", alt="GitHub")
					h3 github:
					p
						a(href='https://github.com/mrPlotnik', target='_blank') github.com/mrPlotnik
			.col-md-6.col-sm-6
				.contact_box
					.div-icon
						img(src="img/icons/email.svg", alt="E-mail")
					h3 Email:
					p
						a(href='mailto:plotnik1992@gmail.com') plotnik1992@gmail.com
				.contact_box
					.div-icon
						img(src="img/icons/codepen.svg", alt="CodePen")
					h3 codepen profile:
					p
						a(href='https://codepen.io/plotnik1992/') codepen.io/plotnik1992