header#main.main_head(data-parallax='scroll', data-image-src='img/main_bg3.jpg')
	.table.content
			.tr
				.td
					h1 Андрей Плотников
					p Web-разработчик / HTML-верстальщик
					p Программист JavaScript
	.mw-wrap
		.mouse-icon
			.wheel
				.top_wrapper

	.container-fluid.mnu-line
		.row
			.col-2.col-md-2
				.logo_container
					img(src='img/logo.png', alt='Plotnik Development')
			.col-8.col-md-8
				.sitetitle 
					p Сайт-портфолио
						<br>
						| веб-разработчика