//- Оверлей меню по кнопке в углу
button.toggle_mnu
	span.sandwich
		span.sw-topper
		span.sw-bottom
		span.sw-footer

nav.top_mnu
	.container
		.row.align-items-center
			.col-12
				ul
					li
						a(href='#about') Обо мне
					li
						a(href='#target') Цель
					li
						a(href='#resume') Резюме		
					li
						a(href='#certificates') Сертификаты				
					li
						a(href='#books') Книги	
					li
						a(href='#portfolio') Портфолио	
					li
						a(href='#contacts') Контакты