section#portfolio.bg_dark
	h2 Портфолио
	.s_descr_wrap
		.s_descr
			| Мои последние работы 
	.container
		.row
			.col-6.col-lg-3
				.item
					a(href="#")
						img(src="img/portfolio/agency.png", alt="agency")
			.col-6.col-lg-3
				.item
					a(href="#")
						img(src="img/portfolio/agency.png", alt="agency")
			.col-6.col-lg-3
				.item
					a(href="#")
						img(src="img/portfolio/agency.png", alt="agency")
			.col-6.col-lg-3
				.item
					a(href="#")
						img(src="img/portfolio/agency.png", alt="agency")