section#resume
	.section_header
		h2 Резюме
		.s_descr_wrap
			.s_descr Мои знания и образование
	.container.resume_container
		.row
			.col-6.left
				h3.animated.bounce Образование
				.resume_icon
					img(src='img/icons/notebook.svg', alt='')
				.resume_item.animation_2
					h4 Среднее специальное
					p Юргинский техникум машиностроения и информационных технологий, "Вычислительные машины комплексы системы и сети". Квалификация – техник.
				.resume_item.animation_2
					h4 Самообразование
					p Курсы в интернете, видеокурсы,
						a.scroll2id(href='#books') 
							| книги
						| , документация, форумы, статьи...
						br
						| Созданием сайтов занимаюсь с 2011 года по настоящее время.
			.col-6.right.knowledges
				h3 Знания и навыки
				.resume_icon
					img(src='img/icons/lamp.svg', alt='')
				.resume_item.animation_3
					h4 Знания в области Web
					p JavaScript 
						img.icons-img(src='img/icons/js.svg', alt='JavaScript')
						br
						| HTML 
						img.icons-img(src='img/icons/html.svg', alt='HTML5')
						|  CSS 
						img.icons-img(src='img/icons/css.svg', alt='CSS3')
					p PUG (Jade) 
						img.icons-img(src='img/icons/pug.svg', alt='PUG')
						br
						| SASS (SCSS) 
						img.icons-img(src='img/icons/sass.svg', alt='SASS')
					p Библиотека jQuery 
						img.icons-img(src='img/icons/jquery.svg', alt='JQuery')
					p Адаптивная верстка под все устройства, 
						br
						| фреймворк Bootstrap 
						img.icons-img(src='img/icons/bootstrap.svg', alt='Bootstrap')
					p Контроль версий Git 
						img.icons-img(src='img/icons/git.svg', alt='Git')
				.resume_item.animation_3
					h4 Программы
					p Adobe Photoshop, FileZilla, пакет Денвер, Sublime Text (Emmet, LiveReload), NodeJS
					p Автоматизация сборки через GULP 
						img.icons-img(src='img/icons/gulp.svg')