<!DOCTYPE html>

html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='icon', href='img/logo32.png', sizes='32x32')
		link(rel='icon', href='img/logo192.png', sizes='192x192')
		link(rel='apple-touch-icon-precomposed', href='img/logo180.png')
		link(rel='shortcut icon', href='img/favicon.png')
		link(rel='stylesheet', href='css/main.min.css')
		title Сайт-портфолио веб-разработчика
	body
		//- Лоадер
		.loader
			.loader_inner

		include includes/1-header.pug
		main#main.main
			include includes/2-hero.pug
			include includes/3-about.pug
			include includes/4-target.pug
			include includes/5-resume.pug

			include includes/5-certificates.pug
			include includes/6-books.pug
			include includes/7-portfolio.pug
			include includes/8-contacts.pug
			include includes/9-footer.pug

		script(src='js/scripts.min.js')
