body
	color: $dflt-txt
	input:focus:required:invalid, textarea:focus:required:invalid
		color: red
	input:required:valid, textarea:required:valid
		color: green
a
	color: $accent
/////////////////////////////////
// Подзаголовок раздела
/////////////////////////////////
.s_descr
	color: $gray
	&::after
		background-color: $lt-blk

/////////////////////////////////
// Цвет фона раздела
/////////////////////////////////
.bg_light
	background-color: $lt-gray

.bg_dark
	background-color: $lt-blk
	color: $wht

/////////////////////////////////
// Цитаты
/////////////////////////////////
blockquote
	border-left: 5px solid lighten($accent, 30%)		
	&:before
		color: $wht
		background: $accent	

/////////////////////////////////
// Section 1. Header
/////////////////////////////////
header
	color: $wht	
	.content	
		p		
			text-shadow: 0 0 15px lighten($accent, 20%)
		a
			color: $wht	
			h1		
				background-color: rgba(254, 101, 74, .5)			
				&:hover
					background-color: rgba(254, 101, 74, .7)

/////////////////////////////////
// Section 2. about
/////////////////////////////////
#about
	h3
		background-color: $accent
		color: $wht
	.div_about		
			border-top: 1px solid lighten($accent, 25%)			
		
/////////////////////////////////
// Section 3. Target
/////////////////////////////////	
#target
	h2
		color: $accent
	.s_descr	
		color: $gray
		&::after
			background-color: $gray

/////////////////////////////////
// Section 4. Resume
/////////////////////////////////
#resume
	h4
		background-color: $accent
		color: $wht
	.right
		border-left: 1px solid lighten($accent, 25%)	

/////////////////////////////////
// Section 5. Books
/////////////////////////////////

/////////////////////////////////
// Section 6. Portfolio
/////////////////////////////////
#portfolio
	.s_descr
		&::after 
		 background-color: $lt-gray

/////////////////////////////////
// Section 8. Footer
/////////////////////////////////