*
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0) // Отключаем цвет подсветки ссылки или любого кликабельного JavaScript элемента при касании
body
	color: $gray-700
	input:focus:required:invalid, textarea:focus:required:invalid
		color: red
	input:required:valid, textarea:required:valid
		color: green
a
	color: $accent

/////////////////////////////////
// Подзаголовок раздела и линия
/////////////////////////////////
.s_descr
	color: $gray-600
	&::after
		background-color: $gray-600

/////////////////////////////////
// Цвет фона раздела
// Переопределены стили Bootstrap
/////////////////////////////////
.bg-light
	background-color: $gray-100

.bg-dark
	background-color: $gray-900
	color: $gray-100

/////////////////////////////////
// Цитаты
/////////////////////////////////
blockquote
	border-left: 5px solid lighten($accent, 30%)		
	&:before
		color: $gray-100
		background: $accent	

/////////////////////////////////
// Section 1. Header
/////////////////////////////////
header
	color: $gray-100
	a
		color: $gray-100
		&:hover
			color: $gray-100
		h1		
			+mt(.25s)
			background-color: rgba(254, 101, 74, .5)			
			&:hover
				background-color: rgba(254, 101, 74, .7)

/////////////////////////////////
// Section 2. about
/////////////////////////////////
#about
	h3
		background-color: $accent
		color: $gray-100	
		
/////////////////////////////////
// Section 3. Target
/////////////////////////////////	
#target
	h2
		color: $accent

/////////////////////////////////
// Section 4. Resume
/////////////////////////////////
#resume
	h4
		background-color: $accent
		color: $gray-100
	.right
		border-left: 1px solid lighten($accent, 25%)	

/////////////////////////////////
// Section 5. Books
/////////////////////////////////

/////////////////////////////////
// Section 6. Portfolio
/////////////////////////////////
#portfolio
	.card
		background-color: $black	
		.hovereffect
			img				
				+mt(.25s)
			&:hover		
				img	
					filter: grayscale(0.5) blur(3px)			 
					transform: scale(1.2)			
				.overlay
					background-color: rgba(255, 100, 72, 0.1)	
			.overlay
				.bottom, .top
					background: rgba(0, 0, 0, 0.6)
				.info
					background: rgba(0, 0, 0, 0.6)
					color: #fff
					+mt(.25s)								
					&:hover
						background-color: $accent
		.card-title
			color: $accent	
		.btn
			color: $accent
			border-color: $accent
			background-color: inherit			
			&:hover
				background-color: $accent
				color: $gray-100	

/////////////////////////////////
// Section 8. Footer
/////////////////////////////////