/*======== Desktop First Method ======== */

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px)
	//

// Большие девайсы (десктопы, >= 992px)
@media (max-width: 991.98px)
	//header	
	header
		font-size: .9em		
			
// Средние девайсы («таблетки», >= 768px)
@media (max-width: 767.98px)
	// Menu
	.top_mnu 
		font-size: 1.5em	

// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (max-width: 575.98px)
	//header
	header
		font-size: .8em		
	
	//resume
	#resume 
		.left
			text-align: left	
		.left, .right
			img, h3
				display: none
			.resume_icon
				margin: 0		

@media (max-width: 320px)
	//menu
	.toggle_mnu 
		right: 0
		top: 0

	//header
	header
		font-size: .7em		

@media only screen and (max-height : 500px)		
	//menu
	.toggle_mnu 
		right: 0
		top: 0
	.top_mnu
		font-size: .9em	

	//header
	header
		font-size: .8em
		.mouse-icon
			display: none
			
	//resume	
	section	
		font-size: .8em
		.person
			text-align: center
			width: 50vh		

@media only screen and (max-height : 374px)	
	//header
	header
		font-size: .7em