.mouse-icon	
	// margin-top: 2rem
	border: 2px solid #fff
	border-radius: 16px
	height: 50px
	width: 32px
	display: inline-block
	z-index: 10
	opacity: .7
	cursor: pointer
	.wheel
		animation-name: drop	
		animation-duration: 1s
		animation-timing-function: linear
		animation-delay: 0s
		animation-iteration-count: infinite
		animation-play-state: running
		position: relative
		border-radius: 10px
		background: $accent
		width: 2px
		height: 6px
		top: 4px
		margin-left: auto
		margin-right: auto

@keyframes drop
	0%
		top: 5px
		opacity: 0
	30%
		top: 10px
		opacity: 1
	100%
		top: 25px
		opacity: 0					
