$dflt-font: 'My-Font', sans-serif

// Default color
$dflt-txt: #333

$accent: #ff6448
$wht: #eee

$lt-gray: #FAFAFA
$gray: #888
$lt-blk: #222

// Скорость анимации
=mt($time)
	transition: all $time ease