@import "vars"				// Переменные проекта
@import "font"				// Шрифт
@import "libs"      	// Библиотеки
@import "loader"			// Стили лоадера
@import "mouse-icon"  // Стили иконки мыши в <header>

*
	margin: 0
	padding: 0
	outline: 1px solid var(--color-orange-transparent-80)
*, ::before, ::after
	box-sizing: border-box
body
	font-family: $dflt-font
	font-size: 16px
	min-width: 320px
	line-height: 1.5em
	overflow-x: hidden
div, a, img
	display: flex
img
	width: 100%
* >	svg
	width: inherit
	height: inherit
a
	width: fit-content
	text-decoration: none
	color: var(--color-orange-hex)
h1, h2, h3, h4, h5, h6
	line-height: inherit
	font-size: inherit
	text-transform: uppercase
.inline-link
	display: inline-flex
.stop-scroll
	overflow: hidden
.list-reset
	display: flex
	list-style: none
.btn-reset
	border: none
	cursor: pointer
	background-color: transparent
.i
	display: block
	font-style: italic

// Glob
.section__container
	width: 100%
	min-width: 320px
	margin: 0 auto
	padding: 0 15px
.section__row
	flex-direction: column
	width: 100%
	padding-top: var(--section-row-my)
	padding-bottom: var(--section-row-my)
.section__header-wrap
	position: relative
	flex-direction: column
	align-items: center
	text-align: center
	margin-bottom: 4em
.section__header-wrap::after
	content: ''
	position: absolute
	width: 10em
	height: 1px
	bottom: -1.25em
	background-color: #6c757d
.section__header--orange
	color: var(--color-orange-hex)
.section__header
	margin-bottom: 5px
	font-weight: 500
	font-size: 2em
	line-height: 1.5em
	letter-spacing: .05em
.section__subheader
	font-size: .8em
	letter-spacing: .15em
	text-transform: uppercase
	color: #6c757d
.section__content
	flex-direction: column

.section__block,
.section__item
	flex-direction: column

.section__block:not(:last-child),
.section__item:not(:last-child)
	padding-bottom: var(--section-block-mb)

.section__item-header
	margin-bottom: var(--section-item-header-mb)
	text-align: center
	font-weight: 400
	font-style: italic
	color: #fff
	background-color: var(--color-orange-hex)
.section--dark
	background-color: var(--color-bg-dark)
.section__text-block
	color: #000
.section__text-block--white
	color: var(--color-text-light)
.section__text-block:not(:last-child)
	margin-bottom: var(--margin-sm)
.section__link
	padding: .3em .7em
	border: 1px solid var(--color-orange-hex)
	border-radius: 0.25em
.order-1
	order: 1
.order-2
	order: 2
.order-3
	order: 3

// Header
.header
	position: absolute
	width: 100%
	top: 0
	height: var(--header-height)
	padding-top: 15px
	z-index: 1
.header__row
	flex-direction: row
	justify-content: space-between
	align-items: center
	width: inherit
	padding: 0
.header__logo
	width: calc( var(--header-height) / 1.5 )
	height: calc( var(--header-height) / 1.5 )
	perspective: 400px
	transform-style: preserve-3d
	svg
		animation: notransform 5s infinite
		transform: rotateY(180deg)
		animation-delay: 2s
@-webkit-keyframes notransform
	50%
		transform: none
@keyframes notransform
	50%
		transform: none

// MENU
.burger
	display: flex
	justify-content: center
	align-items: center
	width: calc(var(--header-height) / 1.5)
	height: calc(var(--header-height) / 1.5)
	background-color: var(--color-orange-hex)
	z-index: 1

.burger__wrap
	position: relative
	width: calc(var(--header-height) / 3)
	height: calc(var(--header-height) / 3)
.burger__line
	position: absolute
	width: inherit
	height: 2px
	left: 0
	background-color: #fff
.burger__line--1
	top: 0
.burger__line--2
	top: calc(50% - 1px)
.burger__line--3
	bottom: 0

.burger--active .burger__wrap
	width: calc(var(--header-height) / 2.5)
	height: calc(var(--header-height) / 2.5)
.burger--active .burger__line--1,
.burger--active .burger__line--3
	top: 1em
.burger--active .burger__line--1
	transform: rotate(45deg)
.burger--active .burger__line--2
	display: none
.burger--active .burger__line--3
	transform: rotate(-45deg)

.mouse-icon
	z-index: 0

// Оверлей с меню
.menu
	position: fixed
	display: flex
	flex-direction: column
	width: 100vw
	height: 100vh
	right: 0
	top: 0
	padding: 1em
	opacity: 0
	visibility: hidden
	background-color: rgba(0, 0, 0, 0.85)
	transition: .3s all ease-in-out
// .menu__btn-wrap
// 	justify-content: end
// .close
// 	display: flex
// 	justify-content: center
// 	align-items: center
// 	width: 50px
// 	height: 50px
// 	background-color: var(--color-orange-hex)
// .close__wrap
// 	position: relative
// 	width: calc(var(--header-height) / 2.5)
// 	height: calc(var(--header-height) / 2.5)
// .close__line
// 	position: absolute
// 	width: inherit
// 	height: 2px
// 	top: 14px
// 	background-color: #fff


.menu-list
	flex-direction: column
	flex-grow: 1
	padding-top: 3.25em
.menu-item
	flex-grow: 1
	a
		justify-content: center
		align-items: center
		width: 100%
		height: 100%
		font-size: 1.5em
		letter-spacing: 4px
		text-transform: uppercase
		opacity: 0
		color: #fff
	&:nth-child(1) a
		animation-delay: 0s
	&:nth-child(2) a
		animation-delay: 0.1s
	&:nth-child(3) a
		animation-delay: 0.2s
	&:nth-child(4) a
		animation-delay: 0.3s
	&:nth-child(5) a
		animation-delay: 0.4s
	&:nth-child(6) a
		animation-delay: 0.5s
	&:nth-child(7) a
		animation-delay: 0.6s
.menu--active
	opacity: 1
	visibility: visible
.menu--active a
	opacity: 1

// Hero
.hero
	height: 100vh
	text-align: center
	background-image: url("../img/main_bg3.jpg")
	background-size: cover
.hero__container
	height: inherit
.hero__row
	align-items: center
	width: 100%
	padding-top: calc(var(--header-height) + 2em)
	padding-bottom: 2em
.hero__content
	flex-direction: column
	justify-content: space-around
	width: 100%
	height: 100%
	margin-bottom: 2.5em
.hero__link-wrap
	position: relative
	height: 150px
	padding: .5em 1em
	z-index: 0
	&:before
		position: absolute
		content: ''
		width: calc(100% + 30px)
		height: 100%
		top: 0
		left: -15px
		background-color: var(--color-orange-transparent-50)
	a
		justify-content: center
		align-items: center
		width: 100%
		color: #fff
	h1
		line-height: 1.25
		font-size: 2em
		font-weight: 600
		z-index: 1

.hero__descr
	line-height: 1.5em
	text-transform: uppercase
	letter-spacing: .05em
	color: #cacaca

// Section 2. About
.about__img-wrap
	justify-content: center
.about__img
	width: 50%
	text-align: center

// Section 4. Target
.target__content
	flex-direction: column
	text-align: center

// Section 5. Resume
.resume__header,
.resume__icon
	display: none

// Section 6. Certificates
.cert__img
	margin-bottom: var(--margin-sm)
.cert__body
	flex-direction: column
.cert__header
	color: var(--color-orange-hex)
	margin-bottom: var(--margin-sm)

// Section 7. Books
.books__list
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: start
	justify-content: space-between
.books__item
	display: flex
	flex-direction: column
	align-items: center
	flex-basis: 45%
	margin-bottom: var(--margin-sm)
.books__item img
	max-width: 200px
	margin-bottom: var(--margin-sm)
	border-radius: 0 7px 7px 0
	box-shadow: 0 0 10px rgba(0,0,0,0.6)
.books__author, .books__descr
	font-size: .8em

// Section 8. Portfolio
.card
	flex-direction: column
.card__body
	flex-direction: column

.card__head
	justify-content: center
	align-items: center
	overflow: hidden
	position: relative
	text-align: center
.card__img
	transition: .3s all ease-in-out
.overlay
	position: absolute
	flex-direction: column
	width: 100%
	height: 100%
	top: 0
	left: 0
.overlay__title
	font-weight: 400
	color: var(--color-orange-hex)
.overlay__link
	padding: 1em
	color: #fff
	background-color: rgba(0, 0, 0, .7)
	transition: .3s all ease-in-out
.overlay__link:hover
	background-color: var(--color-orange-hex)
.overlay__date
	color: #fff
.overlay__top,
.overlay__middle,
.overlay__bottom
	justify-content: center
	align-items: center
	font-size: .9em
	opacity: 0
	text-transform: uppercase
	transition: .3s all ease-in-out
.overlay__top,
.overlay__bottom
	background-color: rgba(0, 0, 0, .7)
.overlay__top
	height: 15%
.overlay__middle
	height: 70%
.overlay__bottom
	height: 15%

.card__head:hover .card__img
	filter: grayscale(.6) blur(2px)
	transform: scale(1.1)
.card__head:hover .overlay__top,
.card__head:hover .overlay__bottom,
.card__head:hover .overlay__middle
	opacity: 1

.card__body
	justify-content: space-between
	height: 300px
	padding: 1.25em
	background-color: #000
.card__descr
	flex-direction: column
.card__title
	margin-bottom: 0.75em
	font-weight: 900
	color: var(--color-orange-hex)
.card__text
	color: #fff
.card__btn-wrap
	justify-content: space-between

// Section 7. Contacts
.contacts__img
	width: 20px
	height: 20px
	margin-bottom: 4px
.contacts__title
	text-transform: uppercase

// Section 8. Footer
.footer-copy
	font-size: 13px
	font-weight: 300
	color: #fff
.footer .section__row
	padding: 1em 0

@import "media" // Всегда в конце
