doctype html

html
	head
		meta(charset='UTF-8')
		title Сайт-портфолио веб-разработчика
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', href='img/favicon.png')

		// Стили
		// Стили bootstrap
		link(rel='stylesheet', href='libs/bootstrap/bootstrap-grid.min.css')

		// Скомпилированные стили страницы
		link(rel='stylesheet', href='css/min/main.min.css')
		// link(rel='stylesheet', href='css/main.css')

		// Стили билиотеки magnific-popup
		link(rel='stylesheet', href='libs/magnific-popup/css/magnific-popup.css')

		// Описание анимации
		link(rel='stylesheet', href='libs/animate.css/animate.min.css')

		// Стили шрифта с иконками		
		link(rel='stylesheet', href='libs/linea/css/linea.css')
		script(src='https://use.fontawesome.com/dcc03bbe00.js')

		

		link(rel='icon', href='img/logo32.png', sizes='32x32')
		link(rel='icon', href='img/logo192.png', sizes='192x192')
		link(rel='apple-touch-icon-precomposed', href='img/logo180.png')


	body
		.loader
			.loader_inner
		
		button.toggle_mnu
			span.sandwich
				span.sw-topper
				span.sw-bottom
				span.sw-footer

		nav.top_mnu
			.tr
				.td
					ul
						li
							a(href='#about') Обо мне
						li
							a(href='#resume') Резюме
						li
							a(href='#portfolio') Портфолио
						li
							a(href='#books') Книги	
						li
							a(href='#contacts') Контакты

		header.main_head(data-parallax='scroll', data-image-src='img/main_bg3.jpg')
			
			.table.content
					.tr
						.td
							h1 Андрей Плотников
							p Web-разработчик / HTML-верстальщик
							p Программист JavaScript
			.mw-wrap
				.mouse-icon
					.wheel
						.top_wrapper
									
			.container
				.row
					.mnu-line.clearfix
						.col-md-2.col-sm-2.col-xs-3
							.logo_container
								img(src='img/logo.png', alt='logotype')
						.col-md-8.col-sm-8.col-xs-6
							.sitetitle Сайт-портфолио
								<br>
								| веб-разработчика
				
		section#about.s_about.bg_light
			.section_header
				h2 Обо мне
				.s_descr_wrap
					.s_descr Познакомимся ближе
			.section_content
				.container
					.row
						.col-md-4.col-md-push-4.animation_1
							h3 Фото
							.person
								a.popup(href='img/photo.png')
									img(src='img/photo.png', alt='Alt')
						.col-md-4.col-md-pull-4.animation_2
							h3 Немного о себе
							p
								| Доброго времени суток, меня зовут Андрей. Занимаюсь разработкой сайтов.
								| Выполняю верстку и программирование сайтов.
								| Делаю адаптивную верстку на Bootstrap, благодаря чему Ваш сайт будет отлично выглядеть на всех устройствах.
								| Любой начатый проект довожу до конца, постоянно совершенствую свой профессиональный уровень.
								| Вы можете заказать у меня разработку сайта с нуля, или связаться со мной для сотрудничества.
						.col-md-4.animation_3
							h3 Доп. сведения
							p 
								.i День рождения: 
								|4 августа 1992 года
							p 
								.i Location:
								| Русский, проживаю в Кемеровской области, город Юрга
							p 
								.i Языки:
								| Русский, технический английский.
							a(href='#contacts') Контакты

		section#resume
			.section_header
				h2 Резюме
				.s_descr_wrap
					.s_descr Мои знания и образование
			.container
				.row
					.resume_container
						.col-md-6.col-sm-6.left
							h3.animated.bounce Образование
							.resume_icon
								i.icon-basic-book-pen
							.resume_item.animation_2
								h4 Среднее специальное
								p Юргинский техникум машиностроения и информационных технологий, "Вычислительные машины комплексы системы и сети". Квалификация – техник.
							.resume_item.animation_2
								h4 Самообразование
								p Курсы в интернете, видеокурсы, книги, документация, форумы, статьи...
									br
									| Созданием сайтов занимаюсь с 2011 года по настоящее время.
						.col-md-6.col-sm-6.right.knowledges
							h3 Знания и навыки
							.resume_icon
								i.icon-basic-lightbulb
							.resume_item.animation_3
								h4 Знания в области Web
								p Языки программирования: JavaScript 
									img.icons-img(src='img/icons/js.png', alt='JavaScript')
									br
									| Язык разметки HTML 
									img.icons-img(src='img/icons/html.svg', alt='HTML5')
									| , таблицы стилей CSS 
									img.icons-img(src='img/icons/css.svg', alt='CSS3')
									br
									| Препроцессоры PUG(Jade) 
									img.icons-img(src='img/icons/pug.png', alt='PUG')
									| , SASS 
									img.icons-img(src='img/icons/sass.png', alt='SASS')
									br
									| Адаптивная верстка под мобильные устройства, фреймворк Bootstrap 
									img.icons-img(src='img/icons/bootstrap.svg', alt='Bootstrap')
									br
									| Библиотека jQuery
									img.icons-img(src='img/icons/jquery.gif', alt='JQuery')
							.resume_item.animation_3
								h4 Программы
								p Adobe Photoshop, FileZilla, пакет Денвер, Sublime Text (+Emmet, LiveReload)
									br
									| Автоматизация сборки через GULP 
									img.icons-img(src='img/icons/gulp.png')

		section#books.bg_light
			.section_header
				h2 Книги
				.s_descr_wrap
					.s_descr Книги, оказавшие на меня влияние
				.container
					.row
						.col-md-12
							.animation_2
								p Кто-то сказал:
								blockquote Важно не то, что вы читали или не читали какую-то отдельную книгу. Гораздо полезнее понимание того, какое место этот том занимает среди других
								p Книги, которые помогли мне углубить знания в своем ремесле:
					.row
						.books_container.clearfix
							.col-md-3.col-sm-3.col-xs-6.animation_2
								.books
									p Стив Макконнелл
									img(src="img/books/1.jpg", alt="")
									p 896 с., 2017
							.col-md-3.col-sm-3.col-xs-6.animation_2
								.books
									p Дэвид Флэнаган
									img(src="img/books/2.jpg", alt="")
									p 992 с., 2008
							// Optional: clear the XS cols if their content doesn't match in height		
							.visible-xs.clearfix 
							.col-md-3.col-sm-3.col-xs-6.animation_3
								.books
									p Дэвид Сойер Макфарланд
									img(src="img/books/3.jpg", alt="")
									p 608 с., 2016							
							.col-md-3.col-sm-3.col-xs-6.animation_3
								.books
									p Элизабет Фримен
									img(src="img/books/4.jpg", alt="")
									p 656 с., 2013
					.row
						.dopinfo_container
							.col-md-12.dopInformation
								h3 Дополнительная информация
								p
									| Занимаюсь разработкой сайтов любой направленности — Сайты-визитки, одностраничники(landing page),
									| блоги, корпоративные сайты, интернет-магазины...
									ul
										li
											strong Полный цикл
											|  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Домах запятых безопасную даль встретил предупреждал океана свой назад то приставка первую гор, обеспечивает пунктуация если ведущими буквоград по всей речью?

		section#portfolio.s_portfolio.bg_dark
			.section_header
				h2(style='color:#fff;') Портфолио
				.s_descr_wrap
					.s_descr
						| Мои последние работы 

		section#contacts.s_contacts.bg_light
			div
				h2 Контакты
				.s_descr_wrap
					.s_descr Связаться со мной
			.section_content
				.container
					.row
						.col-md-6.col-sm-6
							.contact_box
								.div-icon
									img(src="img/icons/location.svg", alt="Адрес")
								h3 Адрес:
								p Россия, Кемеровская обл., г. Юрга
							.contact_box
								.div-icon
									img(src="img/icons/vk.svg", alt="VK")
								h3 ВКонтакте:
								p
									a(href='https://vk.com/mr__pro', target='_blank') vk.com/mr__pro
							.contact_box
								.div-icon
									img(src="img/icons/github.svg", alt="GitHub")
								h3 github:
								p
									a(href='https://github.com/mrPlotnik', target='_blank') github.com/mrPlotnik
						.col-md-6.col-sm-6
							.contact_box
								.div-icon
									img(src="img/icons/email.svg", alt="E-mail")
								h3 Email:
								p
									a(href='mailto:plotnik1992@gmail.com') plotnik1992@gmail.com
							.contact_box
								.div-icon
									img(src="img/icons/codepen.svg", alt="CodePen")
								h3 codepen profile:
								p
									a(href='https://codepen.io/plotnik1992/') codepen.io/plotnik1992
		
		footer.main_footer.bg_dark
			.container
				.row
					.col-md-12
						| © 2017 Андрей Плотников. Профессиональное создание сайтов.
		
		script.
			document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

		// first		
		//- script(src='libs/jquery/jquery-2.1.3.min.js')
		//- script(src='libs/waypoints/waypoints.min.js')
		//- script(src='libs/magnific-popup/js/jquery.magnific-popup.min.js')
		//- script(src='libs/parallax/parallax.min.js')
		//- script(src='/libs/pagescroll2id/PageScroll2id.min.js')
		script(src='js/scripts.min.js')