doctype html

html
	head
		meta(charset='UTF-8')
		title Сайт-портфолио веб-разработчика
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', href='favicon.png')

		// Стили
		// Стили bootstrap
		link(rel='stylesheet', href='css/bootstrap-grid.min.css')
		// Стили страницы
		link(rel='stylesheet', href='css/min/main.min.css')
		// link(rel='stylesheet', href='css/main.css')
		// Стили билиотеки magnific-popup
		link(rel='stylesheet', href='libs/magnific-popup/css/magnific-popup.css')
		// Описание анимации
		link(rel='stylesheet', href='libs/animate-css/css/animate.min.css')
		// Стили шрифта с иконками
		link(rel='stylesheet', href='css/fonts.css')
		link(rel='stylesheet', href='libs/linea/css/linea.css')
		
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/tomato.css')

		link(rel='icon', href='cropped-sklogo11-32x32.png', sizes='32x32')
		link(rel='icon', href='cropped-sklogo11-192x192.png', sizes='192x192')
		link(rel='apple-touch-icon-precomposed', href='cropped-sklogo11-180x180.png')

		script(src='https://use.fontawesome.com/dcc03bbe00.js')

	body
		.loader
			.loader_inner


		header.main_head(data-parallax='scroll', data-image-src='img/main_bg2.jpg')
			button.toggle_mnu
				span.sandwich
					span.sw-topper
					span.sw-bottom
					span.sw-footer
			nav.top_mnu
				.tr
					.td
						ul
							li
								a(href='#about') Обо мне
							li
								a(href='#resume') Резюме
							li
								a(href='#portfolio') Портфолио
							li
								a(href='#contacts') Контакты
			.table.content
					.tr
						.td
							h1 Андрей Плотников
							p Web-разработчик / HTML-верстальщик
							p Программист JavaScript
			.container
				.row
					.mnu-line.clearfix
						.col-md-2.col-sm-2.col-xs-3
							.logo_container
								img(src='sklogo11.png', alt='logotype')
						.col-md-8.col-sm-8.col-xs-6
							.sitetitle
								| Сайт-портфолио
								<br>
									| веб-разработчика
				.row
					.col-xs-12
						.empty_cont
				.row
					.col-xs-12
						.mw-wrap
							.mouse-icon
								.wheel
									.top_wrapper
											
		section#about.s_about.bg_light
			.section_header
				h2 Обо мне
				.s_descr_wrap
					.s_descr Познакомимся ближе
			.section_content
				.container
					.row
						.col-md-4.col-md-push-4.animation_1
							h3 Фото
							.person
								a.popup(href='img/photo.png')
									img(src='img/photo.png', alt='Alt')
						.col-md-4.col-md-pull-4.animation_2
							h3 Немного о себе
							p
								| Доброго времени суток, меня зовут Андрей. Занимаюсь разработкой сайтов с нуля, под ключ.
								| Выполняю верстку и программирование сайтов.
								| Делаю адаптивную верстку на Bootstrap,
								| Таким образом Ваш сайт будет отлично выглядеть на всех устройствах.
								| Любой начатый проект довожу до конца, постоянно совершенствую свой профессиональный уровень.
								| Вы можете заказать у меня разработку сайта с нуля, или связаться со мной для сотрудничества.
						.col-md-4.animation_3.personal_last_block
							h3 Персональная информация
							h2.personal_header Плотников Андрей
							ul
								li
									| Профессиональное создание сайтов: разработка дизайна, HTML верстка, программирование на JavaScript
								li День рождения: 4 августа 1992 года
								// li>Skype: </li>
								li
									| E-mail: 
									a(href='mailto:plotnik1992@gmail.com') plotnik1992@gmail.com
							.social_wrap
								ul
									li
										a(href='https://vk.com/mr__pro', target='_blank')
											i.fa.fa-vk
				.container
					.row
						.iwebdev_container
							.col-md-12
								ul.iwebdev
									li Веб-разработчик
									li Html-верстальщик
									li Программист PHP
									li Программист JavaScript
									li Специалист CMS WordPress, OpenCart, Elgg
		section#resume.s_resume
			.section_header
				h2 Резюме
				.s_descr_wrap
					.s_descr Мои знания и образование
			.section_content
				.container
					.row
						.resume_container
							.col-md-6.col-sm-6.left
								h3 Образование
								.resume_icon
									i.icon-basic-book-pen
								.resume_item
									.year Среднее специальное
									p
										| Юргинский техникум машиностроения и информационных технологий, "Вычислительные машины комплексы системы и сети". Квалификация – техник.
								.resume_item
									.year Самообразование
									p
										| Курсы в интернете, видеокурсы, книги, документация, форумы, статьи...
										br
										| 								Созданием сайтов занимаюсь с 2011 года по настоящее время.
							.col-md-6.col-sm-6.right.knowledges
								h3 Знания и навыки
								.resume_icon
									i.icon-basic-lightbulb
								.resume_item
									.year Знания в области Web
									p.icons
										| Языки программирования: JavaScript 
										img.icons-img(src='img/icons/js.png')
										br
										| Язык разметки HTML 
										img.icons-img(src='img/icons/html.png')
										|  , таблицы стилей CSS 
										img.icons-img(src='img/icons/css.png')
										br
										| Препроцессоры JADE/PUG 
										img.icons-img(src='img/icons/pug.png')
										|  , SASS 
										img.icons-img(src='img/icons/sass.png')
										br
										| Адаптивная верстка под мобильные устройства, фреймворк Bootstrap 
										br
										| библиотека jQuery
								.resume_item
									.year Программы
									p.icons
										| Adobe Photoshop, FileZilla, пакет Денвер, Sublime Text (+Emmet, LiveReload)
										br
										| Автоматизация сборки через GULP 
										img.icons-img(src='img/icons/gulp.png')
								.resume_item
									.year Знания языков
									p Русский, технический английский.
				.container
					.row
						.dopinfo_container
							.col-md-12.dopInformation
								h3 Дополнительная информация
								p
									| Занимаюсь разработкой сайтов любой направленности — Сайты-визитки, одностраничники(landing page),
									| блоги, корпоративные сайты, интернет-магазины...
									ul
										li
											strong Полный цикл
											|  — Анализ конкурентов, разработка концепции, дизайна, фирменного стиля, создание, наполнение контентом, дальнейшая поддержка, продвижение, обучение работе с CMS.
										li
											strong Использование лицензионной графики
											|  при разработке дизайна сайта (дизайн-макеты сайтов, шаблоны, баннеры,
											| 										инфографика, иконки, фоны, стоковые изображения, текстуры...).
										li
											strong Наращивание функционала сайта
											|  в соответствии с задачами — Подключение к сайту счетчиков посещений,
											| 										закладок социальных сетей, Яндекс-Карт, новостной ленты, галерей, форума, опросов, обратного отсчета
											| 										времени для акций, доски объявлений, закрытого раздела, онлайн-консультанта, каталога,
											| 										мультиязычности, виджетов групп социальных сетей,
											| 										подписной формы, личного кабинета пользователя...
		section#portfolio.s_portfolio.bg_dark
			.section_header
				h2(style='color:#fff;') Портфолио
				.s_descr_wrap
					.s_descr
						| Мои последние работы(до 2015г., с 2015г. по наст. время разрабатываю сайты для компании)
			.section_content
				.container
					.row
						.filter_div.controls
							ul
								li.filter.active(data-filter='all') Все работы
								li.filter(data-filter='.category-1') Сайты 'Под ключ'
								li.filter(data-filter='.category-2') Верстка
								li.filter(data-filter='.category-3') Прочее
						#portfolio_grid
							.mix.col-md-4.col-sm-6.col-xs-12.portfolio_item.category-1.category-2
								.port_item_container
									img.attachment-large.wp-post-image(width='700', height='545', src='fishkarelia1.jpg', alt='fishkarelia')
									.port_item_cont
										.yearPort
											| 2013-2017
										h3 fishkarelia.info
										p
											| Сайт-визитка о рыбалке,
											br
											| 									охоте и отдыхе в Карелии
										a.popup_content.seework(href='#') Посмотреть
								.hidden
									.podrt_descr
										.modal-box-content
											button.mfp-close(type='button', title='Закрыть (Esc)') ×
											h3
												| Сайт-визитка о рыбалке, охоте и отдыхе
												br
												| 										в Карелии - fishkarelia.info
											p
												strong Ссылка на работу: 
												a(href='javascript:if(confirm(%27http://fishkarelia.info/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://fishkarelia.info/%27', target='_blank') fishkarelia.info
											img.attachment-full.wp-post-image(width='700', height='545', src='fishkarelia1.jpg', alt='fishkarelia')
											p
												strong Создание сайта с нуля, под ключ.
												br
												| 											Разработка концепции, уникального дизайна и пользовательского
												| 											интерфейса. Верстка сайта с установкой на CMS WordPress.
												strong.specialites Особенности:
											ul
												li Видео-фон на главной странице с панорамой гостевого комплекса.
												li Секции с эффектом "параллакс".
												li Адаптивная верстка сайта для всех типов устройств.
												li Стоковые изображения, лицензионная графика.
												li Кнопка «Наверх».
												li Слайдер на главной.
												li Создание и раскрутка группы ВКонтакте, добавление виджета группы.
												li Установка онлайн-консультанта JivoSite.
												li Установка фото-галерей для гостевых домов, и общей фотогалереи.
												li Внедрение Яндекс.Карты со схемой проезда к месту отдыха.
												li Добавление виджета прогноза погоды.
												li Создание гостевой книги на jQuery / AJAX / PHP / MySQL.
												li Поддержка и раскрутка сайта.
												li Разработка логотипа, фирменного стиля, создание бренда.
							.mix.col-md-4.col-sm-6.col-xs-12.portfolio_item.category-1.category-2
								.port_item_container
									img.attachment-large.wp-post-image(width='700', height='545', src='ribakova.jpg', alt='ribakova')
									.port_item_cont
										.yearPort
											| 2015
										h3 Сайт адвоката по недвижимости Ольги Рыбаковой
										p Верстка+программирование сайта адвоката на CMS Wordpress
										a.popup_content.seework(href='#') Посмотреть
								.hidden
									.podrt_descr
										.modal-box-content
											button.mfp-close(type='button', title='Закрыть (Esc)') ×
											h3 Сайт адвоката по недвижимости Ольги Рыбаковой
											p
												strong Ссылка на работу: 
												a(href='', target='_blank')
											img.attachment-full.wp-post-image(width='700', height='545', src='ribakova.jpg', alt='ribakova')
											p
											ul
							.mix.col-md-4.col-sm-6.col-xs-12.portfolio_item.category-1.category-2
								.port_item_container
									img.attachment-large.wp-post-image(width='700', height='545', src='preview.jpg', alt='preview')
									.port_item_cont
										.yearPort
											| 2015
										h3 Preview for you
										p Сайт студии 3D-визуализации
										a.popup_content.seework(href='#') Посмотреть
								.hidden
									.podrt_descr
										.modal-box-content
											button.mfp-close(type='button', title='Закрыть (Esc)') ×
											h3
												| Сайт студии архитектурной 3D-визуализации 
												br
												| "Preview for you"
											p
												strong Ссылка на работу: 
												a(href='javascript:if(confirm(%27http://preview-4-you.com/en/home/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://preview-4-you.com/en/home/%27', target='_blank') preview-4-you.com
											img.attachment-full.wp-post-image(width='700', height='545', src='preview.jpg', alt='preview')
											p
												strong Верстка сайта по готовому макету, под ключ.
												br
												| 													Верстка сайта с установкой на CMS WordPress, наполнение.
												strong.specialites Особенности:
											ul
												li Кастомизация всего контента на сайте из административной панели WordPress
												li Мультиязычный сайт - En / Fr
												li Слайдер Nivo
												li Виджеты Facebook и Twitter
												li Блок случайных проектов из портфолио
												li Мобильная версия сайта
												li Фотогалерея для портфолио
												li Демонстрация работ во всплывающем окне (fancybox)
												li Форма обратной связи с предварительной валидацией на jQuery
							.mix.col-md-4.col-sm-6.col-xs-12.portfolio_item.category-2
								.port_item_container
									img.attachment-large.wp-post-image(width='700', height='545', src='bengard1.jpg', alt='bengard')
									.port_item_cont
										.yearPort
											| 2015
										h3 Бенгардт
										p
											| Верстка главной страницы 
											br
											| сайта юридических услуг
										a.popup_content.seework(href='#') Посмотреть
								.hidden
									.podrt_descr
										.modal-box-content
											button.mfp-close(type='button', title='Закрыть (Esc)') ×
											h3
												| Верстка главной страницы 
												br
												| сайта юридических услуг
											p
												strong Ссылка на работу: 
												a(href='', target='_blank')
											img.attachment-full.wp-post-image(width='700', height='545', src='bengard1.jpg', alt='bengard')
											p
												strong Верстка главной страницы сайта по готовому макету .psd
												br
												| 															Верстка главной страницы сайта с установкой на CMS WordPress.
												strong.specialites Особенности:
											ul
												li Кастомизация всего контента на странице из административной панели WordPress
												li Адаптивная верстка страницы с использованием фреймворка Bootstrap
												li Адаптивное меню
							.mix.col-md-4.col-sm-6.col-xs-12.portfolio_item.category-1.category-2
								.port_item_container
									img.attachment-large.wp-post-image(width='700', height='545', src='22.jpg', alt='22')
									.port_item_cont
										.yearPort
											| 2015
										h3 SacredThoughts.ru
										p Сайт-блог сообщества публицистов
										a.popup_content.seework(href='#') Посмотреть
								.hidden
									.podrt_descr
										.modal-box-content
											button.mfp-close(type='button', title='Закрыть (Esc)') ×
											h3
												| Сайт-блог сообщества публицистов -
												br
												| 																SacredThoughts.ru
											p
												strong Ссылка на работу: 
												a(href='', target='_blank')
											img.attachment-full.wp-post-image(width='700', height='545', src='22.jpg', alt='22')
											p
												strong Создание сайта с нуля, под ключ.
												br
												| 																	Разработка концепции, уникального дизайна и пользовательского
												| 																	интерфейса. Верстка сайта с установкой на CMS Joomla.
												strong.specialites Особенности:
											ul
												li Стоковые изображения, лицензионная графика.
												li Кнопка «Наверх».
												li
													| Система авторизации. Для авторизованного пользователя -
													| возможность написать публикацию, комментировать публикации,
													| а также посвятить свою публикацию кому-либо на электронную почту.
							.mix.col-md-4.col-sm-6.col-xs-12.portfolio_item.category-2
								.port_item_container
									img.attachment-large.wp-post-image(width='700', height='545', src='33.jpg', alt='33')
									.port_item_cont
										.yearPort
											| 2015
										h3 Мотив
										p
											| Сайт-визитка компании
											br
											| 																	по установке натяжных потолков
										a.popup_content.seework(href='#') Посмотреть
								.hidden
									.podrt_descr
										.modal-box-content
											button.mfp-close(type='button', title='Закрыть (Esc)') ×
											h3
												| Сайт-визитка компании по установке
												br
												| 																		натяжных потолков "Мотив"
											p
												strong Ссылка на работу: 
												a(href='', target='_blank')
											img.attachment-full.wp-post-image(width='700', height='545', src='33.jpg', alt='33')
											p
												strong Верстка сайта по готовому макету .cdr(Corel Draw).
												br
												| 																			Верстка сайта с установкой на CMS Joomla,
												| 																			наращивание функционала.
												strong.specialites Особенности:
											ul
												li Слайдер на главной.
												li Кольцевая галерея.
												li Установка онлайн-консультанта JivoSite.
												li Создание калькулятора расчета стоимости потолков на javascript.
												li Создание формы обратного отзыва на php.
												li
													| Верстка «Карты» по областям - нестандартные области
													| по наведению (смотри блок «По применению» на главной).
												li Верстка «закругленного» меню.
							.mix.col-md-4.col-sm-6.col-xs-12.portfolio_item.category-2
								.port_item_container
									img.attachment-large.wp-post-image(width='700', height='545', src='55.jpg', alt='55')
									.port_item_cont
										.yearPort
											| 2015
										h3 Верстка по макету
										p
											| Тестовая верстка сайта
											br
											| 																			по макету .psd ( html5 + css3 )
										a.popup_content.seework(href='#') Посмотреть
								.hidden
									.podrt_descr
										.modal-box-content
											button.mfp-close(type='button', title='Закрыть (Esc)') ×
											h3
												| Тестовая верстка сайта по макету .psd
												br
												| 																				(html5 + css3)
											p
												strong Ссылка на работу: 
												a(href='', target='_blank')
											img.attachment-full.wp-post-image(width='700', height='545', src='55.jpg', alt='55')
											p
												strong Верстка сайта по готовому макету .psd(Adobe Photoshop).
												br
												| 																					Верстка страницы на HTML5 и CSS3.
												strong.specialites Особенности:
											ul
												li Реализация табов(вкладок) на jQuery с эффектом анимации сцены.
												li Скролящийся блок без полосы прокрутки.
												li Использование технологии css-спрайтов.
												li Отрисовка теней и градиентов средствами браузера.
												li Кроссбраузерная верстка.
							.mix.col-md-4.col-sm-6.col-xs-12.portfolio_item.category-1.category-2
								.port_item_container
									img.attachment-large.wp-post-image(width='700', height='545', src='66.jpg', alt='66')
									.port_item_cont
										.yearPort
											| 2014
										h3 DissDocs
										p
											| Сайт диссертационного совета ПетрГУ
											br
											| 																					по физико-математическим наукам
										a.popup_content.seework(href='#') Посмотреть
								.hidden
									.podrt_descr
										.modal-box-content
											button.mfp-close(type='button', title='Закрыть (Esc)') ×
											h3
												| Сайт диссертационного совета ПетрГУ
												br
												| 																						по физико-математическим наукам
											p
												strong Ссылка на работу: 
												a(href='', target='_blank')
											img.attachment-full.wp-post-image(width='700', height='545', src='66.jpg', alt='66')
											p
												strong Создание сайта с нуля, под ключ.
												br
												| 																							Разработка концепции, уникального дизайна и пользовательского
												| 																							интерфейса. Верстка сайта с установкой на CMS Joomla.
												strong.specialites Особенности:
											ul
												li 4-ур. система авторизации: гость, соискатель, член диссовета, администратор.
												li
													| Возможность просмотра видеотрансляций защит
													| с использованием плейлиста.
												li Реализация личного кабинета для соискателей и членов диссовета.
												li
													| Организация документооборота (возможность загружать файлы
													| в систему для формирования своего диссертационного дела,
													| а также скачивать файлы с соответствующим уровнем доступа).
												li
													| На основе данного сайта-прототипа был внедрен реально
													| работающий сайт - 
													a(href='javascript:if(confirm(%27http://dssp.petrsu.ru/ds/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://dssp.petrsu.ru/ds/%27', tppabs='http://dssp.petrsu.ru/ds/', target='_blank') dssp.petrsu.ru/ds
							.mix.col-md-4.col-sm-6.col-xs-12.portfolio_item.category-3
								.port_item_container
									img.attachment-large.wp-post-image(width='700', height='545', src='88.jpg', tppabs='http://skalexander.ru/wp-content/uploads/2015/11/88.jpg', alt='88')
									.port_item_cont
										.yearPort
											| 2012
										h3 Никс-Карелия
										p Сайт компьютерного магазина
										a.popup_content.seework(href='#') Посмотреть
								.hidden
									.podrt_descr
										.modal-box-content
											button.mfp-close(type='button', title='Закрыть (Esc)') ×
											h3
												| Сайт компьютерного магазина
												br
												| "Никс-Карелия"
											p
												strong Ссылка на работу: 
												a(href='', target='_blank')
											img.attachment-full.wp-post-image(width='700', height='545', src='88.jpg', tppabs='http://skalexander.ru/wp-content/uploads/2015/11/88.jpg', alt='88')
											p
												strong
													| Поддержка сайта магазина по продаже и ремонту
													br
													| 																										компьютерной техники «Никс-Карелия».
												br
												strong.specialites Особенности:
											ul
												li Администрирование сайта.
												li Наполнение контентом, ведение новостной ленты.
												li Работа с БД магазина, с веб-интерфейсом phpmyadmin.
												li Переверстка главной страницы.
												li Редизайн меню.
												li
													| Добавление к сайту новых страниц: «Продукция Apple»,
													| «Планшеты Apple» и «Смартфоны Apple».
		// Готово
		section#contacts.s_contacts.bg_light
			div
				h2 Контакты
				.s_descr_wrap
					.s_descr Связаться со мной
			.section_content
				.container
					.row
						.col-md-6.col-sm-6
							.contact_box
								.contacts_icon.icon-basic-geolocalize-05
								h3 Адрес:
								p Россия, Кемеровская обл., г. Юрга
							.contact_box
								i.fa.fa-vk.faicon
								h3 ВКонтакте:
								p
									a(href='https://vk.com/mr__pro', target='_blank') vk.com/mr__pro
						.col-md-6.col-sm-6
							.contact_box
								.contacts_icon.icon-basic-mail-open-text
								h3 Email:
								p
									a(href='mailto:plotnik1992@gmail.com') plotnik1992@gmail.com
							.contact_box
								i.fa.fa-code.faicon
								h3 codepen profile:
								p
									a(href='https://codepen.io/plotnik1992/') codepen.io/plotnik1992
		// Готово
		footer.main_footer.bg_dark
			.container
				.row
					.col-md-12
						| © 2017 Андрей Плотников. Профессиональное создание сайтов.
						.social_wrap
							ul
								li
									a(href='https://vk.com/mr__pro', target='_blank')
										i.fa.fa-vk
		.hidden
		//if lt IE 9
			script(src='es5-shim.min.js', tppabs='http://skalexander.ru/wp-content/themes/MyTheme/libs/html5shiv/es5-shim.min.js')
			script(src='html5shiv.min.js', tppabs='http://skalexander.ru/wp-content/themes/MyTheme/libs/html5shiv/html5shiv.min.js')
			script(src='html5shiv-printshiv.min.js', tppabs='http://skalexander.ru/wp-content/themes/MyTheme/libs/html5shiv/html5shiv-printshiv.min.js')
			script(src='respond.min.js', tppabs='http://skalexander.ru/wp-content/themes/MyTheme/libs/respond/respond.min.js')
		script.
			document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
		script(src='libs/jquery/jquery-2.1.3.min.js')
		// first
		script(src='libs/animate-css/js/animate-css.js')
		script(src='libs/magnific-popup/js/jquery.magnific-popup.min.js')
		script(src='parallax.min.js')
		script(src='mixitup.min.js')
		script(src='PageScroll2id.min.js')
		script(src='waypoints.min.js')
		script(src='js/common.min.js')
